<div class="flex flex-col flex-auto min-w-0">
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500">{{ 'Request'|transloco }}</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon
                        class="icon-size-5 text-secondary"
                        [svgIcon]="'heroicons_mini:chevron-right'"></mat-icon>
                    <a class="ml-1 text-primary-500">{{ 'Add'|transloco }}</a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    {{ 'Add'|transloco }} {{ 'Request'|transloco }}
                </h2>
            </div>
        </div>
    </div>
  <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
    <mat-form-field
    [ngClass]="formFieldHelpers"
    class="flex-auto gt-xs:pr-3">
    <mat-select
        [(ngModel)]="selectedType"
        placeholder="{{ 'Select request type' | transloco }}">
        <mat-option value="Congé">{{ 'Leave request'|transloco }}</mat-option>
        <mat-option value="Autorisation">{{"Demande d'autorisation"| transloco}}</mat-option>
    </mat-select>
    <mat-icon
        class="icon-size-5"
        matPrefix
        [svgIcon]="'heroicons_solid:view-columns'"></mat-icon>
</mat-form-field>
    </div>
    <!-- Main -->
    <div *ngIf="selectedType=='Congé'" class="flex-auto p-6 sm:p-10">
        <fuse-alert class="mt-8" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type" [@shake]="alert.type === 'error'">
      {{ alert.message }}
    </fuse-alert>

            <form class="flex flex-col mt-4 px-8 pt-10 bg-card shadow rounded overflow-hidden"
            [formGroup]="signUpForm"
            #signUpNgForm="ngForm">
            <p class="text-lg font-medium">Request</p>
            <p class="text-secondary mb-6">
                Add here your request details and submit it.
            </p>
            <div class="flex flex-col gt-xs:flex-row">
                <mat-form-field class="flex-auto gt-xs:pr-3">
                    <mat-label>Start Date</mat-label>
                    <input matInput [matDatepicker]="startPicker" formControlName="startDate">
                    <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                    <mat-datepicker #startPicker></mat-datepicker>
                    <mat-error *ngIf="signUpForm.get('startDate').hasError('required')">
                        Start date is required
                    </mat-error>
                </mat-form-field>
        
                <mat-form-field class="flex-auto gt-xs:pl-3">
                    <mat-label>End Date</mat-label>
                    <input matInput [matDatepicker]="endPicker" formControlName="endDate">
                    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                    <mat-datepicker #endPicker></mat-datepicker>
                    <mat-error *ngIf="signUpForm.get('endDate').hasError('required')">
                        End date is required
                    </mat-error>
                </mat-form-field>
                <div class="flex flex-col">
                    <div class="flex flex-col">
                      <mat-checkbox
                        formControlName="goAfterMidday" 
                        [(ngModel)]="isDepartureAfterMiddayChecked"
                        (change)="toggleDepartureChecked()"
                        class="mb-2"
                        [color]="'primary'">
                        Departure After Midday
                      </mat-checkbox>
                  
                      <mat-checkbox
                        formControlName="backAfterMidday"  
                        [(ngModel)]="isReturnAfterMiddayChecked"
                        (change)="toggleReturnChecked()"
                        class="mb-2"
                        [color]="'primary'">
                        Return After Midday
                      </mat-checkbox>
                    </div>
                  </div>
                  
            </div>


                <div class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700">
                    <button mat-button (click)="clearForm()">
                        Cancel
                    </button>
                    <button mat-flat-button
                    [color]="'primary'"
                    [disabled]="signUpForm.invalid || isSubmitting"
                    (click)="signUp()"> 
                <span *ngIf="!isSubmitting">
                    Create request
                </span>
                <mat-progress-spinner *ngIf="isSubmitting" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
            </button>
                </div>
                
            </form>

    </div>

    <div *ngIf="selectedType=='Autorisation'" class="flex-auto p-6 sm:p-10">
        <fuse-alert class="mt-8" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type" [@shake]="alert.type === 'error'">
      {{ alert.message }}
    </fuse-alert>

            <form class="flex flex-col mt-4 px-8 pt-10 bg-card shadow rounded overflow-hidden"
            [formGroup]="autorisForm"
            #autorisNgForm="ngForm">
            <p class="text-lg font-medium">Authorization</p>
            <p class="text-secondary mb-6">
                Add here your request details and submit it.
            </p>
            <div class="flex flex-col gt-xs:flex-row">
                <mat-form-field appearance="fill">
                    <mat-label>Date</mat-label>
                    <input matInput [matDatepicker]="datePicker" formControlName="date" required>
                    <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                    <mat-datepicker #datePicker></mat-datepicker>
                    <mat-error *ngIf="autorisForm.get('date')?.hasError('required')">
                      Date is required
                    </mat-error>
                </mat-form-field>
                
                <mat-form-field appearance="fill">
                    <mat-label>Start Time</mat-label>
                    <input matInput type="time" formControlName="startTime" required >
                    <mat-error *ngIf="autorisForm.get('startTime')?.hasError('required')">
                      Start time is required
                    </mat-error>
                </mat-form-field>
                
                <mat-form-field appearance="fill">
                    <mat-label>End Time</mat-label>
                    <input matInput type="time" formControlName="endTime" required>
                    <mat-error *ngIf="autorisForm.get('endTime')?.hasError('required')">
                      End time is required
                    </mat-error>
                </mat-form-field>
            </div>

                <div class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700">
                    <button mat-button (click)="clearForm()">
                        Cancel
                    </button>
                    <button mat-flat-button
                    [color]="'primary'"
                    [disabled]="autorisForm.invalid || isSubmitting"
                    (click)="authorize()"> 
                <span *ngIf="!isSubmitting">
                    Submit
                </span>
                <mat-progress-spinner *ngIf="isSubmitting" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
            </button>
                </div>
                
            </form>

    </div>
</div>
