<h2 mat-dialog-title class="modal-title">{{ data?.leaveEvents?.type.name }}</h2>
<mat-dialog-content class="modal-content">
  <div class="modal-details">
    <p><strong>User:</strong> {{ data?.leaveEvents.user.firstName }}  {{ data?.leaveEvents.user.lastName }}</p>
    <p><strong>Start Date:</strong> {{ data?.leaveEvents?.startDate | date:'medium' }}</p>
    <p><strong>End Date:</strong> {{ data?.leaveEvents?.endDate | date:'medium' }}</p>
    <p *ngIf="data?.leaveEvents?.type.name=='Congé'"><strong>Go After Midday:</strong> {{ data?.leaveEvents?.goAfterMidday ? 'Yes' : 'No' }}</p>
    <p *ngIf="data?.leaveEvents?.type.name=='Congé'"><strong>Back After Midday:</strong> {{ data?.leaveEvents?.backAfterMidday ? 'Yes' : 'No' }}</p>

  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button class="close-button" (click)="close()">Close</button>
</mat-dialog-actions>
