<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
    <mat-drawer-container
        class="flex-auto h-full bg-card dark:bg-transparent"
        (backdropClick)="onBackdropClicked()">
        <mat-drawer
            class="w-full sm:w-128 dark:bg-gray-900"
            [mode]="drawerMode"
            [opened]="false"
            [position]="'end'"
            [disableClose]="true"
            #matDrawer>
            <router-outlet></router-outlet>
        </mat-drawer>
        <mat-drawer-content class="flex flex-col">
            <div class="flex flex-col flex-auto">
                <div class="flex flex-col sm:flex-row items-start sm:items-center sm:justify-between py-8 px-6 md:px-8">
                    <div>
                        <div class="text-4xl font-extrabold tracking-tight leading-none">Tasks</div>
                        <div class="ml-0.5 font-medium text-secondary">
                            <span *ngIf="tasksCount.incomplete === 0">All tasks completed!</span>
                            <span *ngIf="tasksCount.incomplete !== 0">{{tasksCount.incomplete}} remaining tasks</span>
                        </div>
                    </div>
                </div>
                <ng-container *ngIf="tasks && tasks.length > 0; else noTasks">
                    <div
                        class="divide-y"
                        cdkDropList
                        [cdkDropListData]="tasks"
                        (cdkDropListDropped)="dropped($event)">
                        <ng-container *ngFor="let task of tasks; let first = first; trackBy: trackByFn">
                            <div
                                [id]="task.taskId"
                                class="group w-full select-none hover:bg-gray-100 dark:hover:bg-hover"
                                [ngClass]="{
                                    'h-12 text-lg font-semibold bg-gray-50 dark:bg-transparent': task.taskName === 'Manager' || task.taskName === 'Demande autorisation',
                                    'h-12 text-lg font-semibold bg-gray-50 dark:bg-transparent': task.taskName === 'Tache RH',
                                    'text-hint': task.completed
                                }"
                                [class.border-t]="first"
                                cdkDrag
                                [cdkDragLockAxis]="'y'">
                                <div
                                    class="flex flex-0 w-0 h-0"
                                    *cdkDragPreview></div>
                                <div class="relative flex items-center h-full pl-10">
                                    <ng-container *ngIf="selectedTask && selectedTask.taskId === task.taskId">
                                        <div class="z-10 absolute -top-px right-0 -bottom-px flex flex-0 w-1 bg-primary"></div>
                                    </ng-container>
                                    <div
                                        class="md:hidden absolute flex items-center justify-center inset-y-0 left-0 w-8 cursor-move md:group-hover:flex"
                                        cdkDragHandle>
                                        <mat-icon
                                            class="icon-size-5 text-hint"
                                            [svgIcon]="'heroicons_solid:bars-3'"></mat-icon>
                                    </div>
                                    <button
                                        class="mr-2 -ml-2.5 leading-none"
                                        *ngIf="task.taskName === 'Manager' ||task.taskName==='Tache RH'"
                                        mat-icon-button>
                                        <mat-icon
                                            class="text-primary"
                                            [svgIcon]="'heroicons_outline:clipboard-document'"></mat-icon>
                                    </button>
                                    <button
                                        class="mr-2 -ml-2.5 leading-none"
                                        *ngIf="task.taskName === 'Demande autorisation'"
                                        mat-icon-button>
                                        <mat-icon
                                            class="text-primary"
                                            [svgIcon]="'heroicons_outline:check-circle'"></mat-icon>
                                    </button>

                                    <a
                                        class="flex flex-auto items-center min-w-0 h-full pr-7"
                                        [routerLink]="[task.taskId]"
                                        (click)="selectTask(task)">
                                        <div class="flex-auto mr-2 truncate">
                                            <ng-container *ngIf="task.taskName === 'Tache RH' && task.requesterFullName">
                                                <span>Demande de {{ task.requesterFullName }} ({{ task.requester }})</span>
                                            </ng-container>
                                            <ng-container *ngIf="task.taskName === 'Manager' && task.requesterFullName">
                                                <span>Demande de congé de {{ task.requesterFullName }} ({{ task.requester }})</span>
                                            </ng-container>
                                            <ng-container *ngIf="task.taskName === 'Demande autorisation' && task.requesterFullName">
                                                <span>Demande d'autorisation de {{ task.requesterFullName }} ({{ task.requester }})</span>
                                            </ng-container>
                                            <ng-container *ngIf="!task.taskName">
                                                <span class="select-none text-hint">{{task.requester | titlecase}} title</span>
                                            </ng-container>
                                        </div>
                                        <ng-container>
                                            <div class="w-4 h-4 mr-3">
                                                <mat-icon
                                                    class="icon-size-4 text-green-600 dark:text-green-400"
                                                    [svgIcon]="'heroicons_mini:arrow-long-down'"
                                                    [title]="'Low'"></mat-icon>
                                                <mat-icon
                                                    class="icon-size-4 text-red-600 dark:text-red-400"
                                                    *ngIf="task.priority === 2"
                                                    [svgIcon]="'heroicons_mini:arrow-long-up'"
                                                    [title]="'High'"></mat-icon>
                                            </div>
                                        </ng-container>
                                        <div class="text-sm whitespace-nowrap text-secondary">
                                            {{ task.createDate | date: 'MMM dd, yyyy h:mm a' }}
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
                <ng-template #noTasks>
                    <div class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
                        <mat-icon
                            class="icon-size-24"
                            [svgIcon]="'heroicons_outline:clipboard-document-list'"></mat-icon>
                        <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">No tasks for now!</div>
                    </div>
                </ng-template>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
