.inventory-grid,
.inventory-grid-header,
.inventory-grid-row {
    align-items: center;
    justify-items: start;
    display: grid;
    grid-template-columns: 
        120px   /* Fixed width for Request Date */
        100px   /* Fixed width for Start Date */
        190px   /* Fixed width for End Date */
        0.5fr     /* Flexible width for other columns */
        0.9fr
        0.5fr
        0.5fr
        0.2fr
        0.5fr
        0.5fr
        0.5fr
        0.5fr;
    gap: 3px;
    max-width: 100%;
    overflow-x: auto; /* Ensure horizontal scroll for overflowing content */
    grid-auto-rows: minmax(30px, auto); /* Ensure row heights adapt to content */
}
@media (max-width: 1024px) {
    .inventory-grid,
    .inventory-grid-header,
    .inventory-grid-row {
        grid-template-columns: 
            100px  /* For tablets, reduce further */
            100px
            100px
            1fr
            1fr
            1fr
            1fr
            1fr;
    }
}

@media (max-width: 768px) {
    .inventory-grid,
    .inventory-grid-header,
    .inventory-grid-row {
        grid-template-columns: 
            90px  /* Reduce more for smaller screens */
            90px
            90px
            1fr
            1fr
            1fr
            1fr
            1fr;
    }
}

@media (max-width: 480px) {
    .inventory-grid,
    .inventory-grid-header,
    .inventory-grid-row {
        grid-template-columns: 
            80px  /* Reduce further for very small screens */
            80px
            80px
            1fr
            1fr
            1fr
            1fr
            1fr;
    }
}
.task-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.task-details {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    margin-top: 16px;
}

.task-detail-item {
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding: 8px 0;
}

.task-detail-item mat-icon {
    margin-right: 8px;
    font-size: 1.5rem;
    color: #3f51b5; /* Material Blue color */
}

.mat-card-header {
    background-color: #f3f4f6; /* Light grey background for the card header */
    padding: 16px;
    border-radius: 8px 8px 0 0;
}

.mat-card-title {
    font-size: 1.25rem;
    font-weight: 600;
}

.mat-card-subtitle {
    color: #666;
}

.mat-spinner {
    margin: 20px auto;
}

.mat-card-content {
    padding: 16px;
}
.custom-card-header {
    font-size: 1.5rem; /* Adjust the font size */
    padding: 8px; /* Increase padding for a bigger header */
}

.custom-card-header .mat-card-title {
    font-size: 1.4rem; /* Adjust the title font size */
}
.completed {
    color: rgb(67, 202, 67);
}

.not-completed {
    color: rgb(226, 72, 72);
}
