<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto p-6 sm:p-10">

    <!-- Form -->
    <form [formGroup]="accountForm">

        <!-- Section -->
        <div class="w-full">
            <div class="text-xl">Profile</div>
            <div class="text-secondary">Following information is publicly displayed, be careful!</div>
        </div>
<br><div class="flex flex-col items-center mb-6">
    <!-- Profile Image -->
    <div class="relative w-32 h-32">
        <img
            [src]="avatarUrl"
            alt="Profile Image"
            class="rounded-full w-full h-full object-cover border-2 border-gray-300">
        <!-- Upload Button -->
        <label class="absolute bottom-0 right-0 bg-white rounded-full p-1 cursor-pointer shadow-md">
            <input type="file" (change)="onFileSelected($event)"  class="hidden">
            <mat-icon [svgIcon]="'heroicons_solid:camera'"></mat-icon>
        </label>
    </div>
    
</div>

        <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
            <!-- Name -->
            <div class="sm:col-span-2">
                <mat-form-field
                    class="w-full"
                    [subscriptSizing]="'dynamic'">
                    <mat-label>Firstname</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:user'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'firstName'"
                        matInput>
                </mat-form-field>
            </div>
                <div class="sm:col-span-2">
                <mat-form-field
                    class="w-full"
                    [subscriptSizing]="'dynamic'">
                    <mat-label>Lastname</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:user'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'lastName'"
                        matInput>
                </mat-form-field>
                </div>
            <!-- Username -->
            <div class="sm:col-span-4">
                <mat-form-field
                class="w-full"
                [subscriptSizing]="'dynamic'">
                <mat-label>Email</mat-label>
                <mat-icon
                    class="icon-size-5"
                    [svgIcon]="'heroicons_solid:envelope'"
                    matPrefix></mat-icon>
                <input
                    [formControlName]="'email'"
                    matInput>
            </mat-form-field>
            </div>
            <!-- Title -->
            <div class="sm:col-span-2">
                <mat-form-field
                    class="w-full"
                    [subscriptSizing]="'dynamic'">
                    <mat-label>Matricule</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:tag'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'matricule'"
                        matInput
                        >
                </mat-form-field>
            </div>
            <div class="sm:col-span-2">
                <mat-form-field
                    class="w-full"
                    [subscriptSizing]="'dynamic'">
                    <mat-label>Solde conge</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:wallet'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'soldeConge'"
                        matInput>
                </mat-form-field>
            </div>
            <div class="sm:col-span-2">
                <mat-form-field
                    class="w-full"
                    [subscriptSizing]="'dynamic'">
                    <mat-label>Manager matricule</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:user-circle'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'managerMatricule'"
                        matInput>
                </mat-form-field>
            </div>
        </div>
   
        <!-- Divider -->
        <div class="mt-11 mb-10 border-t"></div>

        <!-- Actions -->
        <div class="flex items-center justify-end">
            <button
                mat-stroked-button
                type="button">
                Cancel
            </button>
            <button
            (click)="onSave()"
                class="ml-4"
                mat-flat-button
                type="button"
                [color]="'primary'">Save
            </button>
        </div>
        <!-- Flash Message -->
        <div class="mt-4 flex items-center" *ngIf="flashMessage">
            <ng-container *ngIf="flashMessage === 'success'">
                <mat-icon class="text-green-500" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                <span class="ml-2">Name updated successfully</span>
            </ng-container>
            <ng-container *ngIf="flashMessage === 'error'">
                <mat-icon class="text-red-500" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
                <span class="ml-2">An error occurred, try again!</span>
            </ng-container>
        </div>
    </form>
  
</div>
</div>